<div class="container">




  <div *ngIf="isApiUrlDefined() === true; else elseBlock" class="row">
    <div class="col-12">
      <div class="border border-primary">

        <div id="header" class="text-center my-3">
          <h1>Door2Door Navigation System</h1>

        </div>

        <div class="row gx-0">
          <div class="col-9 border border-danger text-center">

            <!-- Container for Leaflet Map. -->
            <div id="map" style="height: 80vh; width: 100%;">
            </div>



          </div>
          <div class="col-3 border border-warning">
            <div class="m-2">

              <div id="explainers">
                <p>Guide</p>
                <ul>
                  <li>🐸 You are here.</li>
                  <li>🐔 Your destination.</li>
                  <li>🌈 The route you should take.</li>
                </ul>
              </div>

              <div id="destinationSelector" class="mt-4">
                <div class="form-group">
                  <label for="destination">Please select your destination below</label>
                  <select name="destination" id="destination" class="form-control">

                    <option *ngFor="let destination of destinations; let i = index" [value]="destination.value">
                      {{destination.label}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- TODO: Send request to the API to compile the route here. -->
              <div id="compileRouteButtonContainer" class="mt-2">
                <div class="form-group">
                  <button class="btn btn-block form-control btn-primary">Show route.</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #elseBlock>
    <p>The environment variable API_URL is not set.</p>
  </ng-template>

</div>
