<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="border border-primary">

        <div id="header" class="text-center my-3">
          <h1>Door2Door Navigation System</h1>

        </div>

        <div class="row gx-0">
          <div class="col-9 border border-danger text-center">

            <!-- Container-->
            <div style="position: relative;">
              <img src="assets/bgang-floorplan.png" z-index="1" class="img-fluid" alt="foobar image">

              <!-- Put the route here, for now this is just a div with a red transparent background.-->
              <div class="overlay"
                style="z-index: 2; width: 100%; height: 100%; position: absolute; left: 0; top: 0; opacity: 0.2; background-color: red;">
              </div>

              <h1 class="text-center" style="position: absolute; left: 0%; top:25%;">
                Example overlay text
              </h1>
            </div>



          </div>
          <div class="col-3 border border-warning">
            <div class="m-2">

              <div id="explainers">
                <p>Guide</p>
                <ul>
                  <li>🐸 You are here.</li>
                  <li>🐔 Your destination.</li>
                  <li>🌈 The route you should take.</li>
                </ul>
              </div>

              <div id="destinationSelector" class="mt-4">
                <div class="form-group">
                  <label for="destination">Please select your destination below</label>
                  <select name="destination" id="destination" class="form-control">

                    <option *ngFor="let destination of destinations; let i = index" [value]="destination.value">
                      {{destination.label}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- TODO: Send request to the API to compile the route here. -->
              <div id="compileRouteButtonContainer" class="mt-2">
                <div class="form-group">
                  <button class="btn btn-block form-control btn-primary">Show route.</button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
